<div class="container game-container my-5 p-4 rounded-3 text-left">
    <div class="mb-4">
        <h5>Balance: <span id="balance-display">100</span></h5>
        <div id="dice_winning_shape" class="balance-circle d-flex  text-white d-flex justify-content-center align-items-center mb-3">?</div>
    </div>

    <div class="mb-3 d-flex">
        <label for="showKeySwitch">Show Key</label>
        <input type="checkbox" id="showKeySwitch">
        
        <span id="gameKeyDisplay" class="text-danger" style="display: none;">Game Key: <span id="gameKey">?</span>
    </div>
    

    <div class="bet-section mb-4 p-2 text-white rounded-2">
        <h6 id="dice-result">Choose bet(s) and press [PLAY]</h6>
        <!-- <span id="dice-result"></span> -->
    </div>

    <form> 
        <h6>Bet on Odd/Even (2x winnings)</h6>
        <div class="mb-3 d-flex flex-wrap">
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="oddEvenBet" id="odd" value="odd" checked>
                <label class="form-check-label" for="odd">Odd</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="oddEvenBet" id="even" value="even">
                <label class="form-check-label" for="even">Even</label>
            </div>
            <select class="form-select custom-select mt-2" id="oddEvenBetAmount">
                <option selected value="0">Select a bet amount</option>
                <option value="10">$10</option>
                <option value="20">$20</option>
                <option value="30">$30</option>
            </select>
        </div>
        <h6 id="winnn" style="display: none;">Winnings</h6>
        <h6>Bet on Range (3x winnings)</h6>
        <div class="mb-3 d-flex flex-wrap">
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rangeBet" id="range1" value="1-2" checked>
                <label class="form-check-label" for="range1">1-2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rangeBet" id="range2" value="3-4">
                <label class="form-check-label" for="range2">3-4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rangeBet" id="range3" value="5-6">
                <label class="form-check-label" for="range3">5-6</label>
            </div>
            <select class="form-select custom-select mt-2" id="rangeBetAmount">
                <option selected value="0">Select a bet amount</option>
                <option value="10">$10</option>
                <option value="20">$20</option>
                <option value="30">$30</option>
            </select>
        </div>

        <div>
            <button type="button" class="btn btn-outline-primary me-2" id="play-button">Play</button>
            <button type="button" class="btn btn-outline-danger" id="new-game-button">New Game</button>
        </div>
    </form>
</div>