<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3>Game Play History Records</h3>
            <button class="btn btn-outline-danger btn-sm mb-3">Clear History</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Bet</th>
                        <th>Won</th>
                        <th>Balance</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                
            </table>
        </div>
    </div>
</div>